{% extends "template/layouts.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>{{ title }}</h1>
            <div class="section-header-breadcrumb">
            </div>
        </div>
        <div class="section-body">
            {#  #}
        </div>
    </section>
</div>
{% endblock %}
